---
layout: default
title: "Research"
description: "Research projects in the lab"
group: navigation
navorder: 1
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class="title">
  <hr/>
    Active Projects
  <hr/>
</div>

<div class="bigspacer"></div>
{% assign projectindex = 0 %}
{% for project in site.categories.projects %}
    {% assign projectindex = projectindex | plus: 1 %}
    {% assign colindex = projectindex | modulo: 3 %}
    {% if colindex == 1 %} <!-- Open a new row of projects display-->
    <div class='row'>
    {% endif %}
    <!--   
    <div class='row'>
        <div class='col-md-12'>
        <div class="media">
        <a class="project-image" href="{{ project.url }}">
            <img class="media-object" src="{{ project.image }}">
        </a>
        </div>
    </div>
    -->
    <div class="col-md-4 paperbox">
        <a class="pull-left" href="{{project.url}}">
        <div class="head media-heading">{{ project.title }}</div>
        </a>
    </div>
    {% if colindex == 0 %} <!-- closing a row -->
        </div><div class="bigspacer"></div>
    {% endif %}
{% endfor %}
{% if colindex != 0 %} <!-- close last open row -->
</div><div class="bigspacer"></div>
{% endif %}
<div class="bigspacer"></div>
