---
layout: default
title: "Papers"
description: "Research papers from the lab"
group: navigation
navorder: 3
---
{% include JB/setup %}
<div class="bigspacer"></div>
<!-- Remember to update the else below, updating if branch wont work-->
<!-- 2020 Papers -->
<div class="title"><hr />2020<hr /></div>
{% for paper in site.categories.papers %}
    {% if paper.year == "2020" %}
        <div class="col-md-12 paperbox">
            {% if paper.embargo %}
            <div class="media">
                <div class="media-body">
                <div class="smallhead media-heading">
                    {{ paper.title }}
                </div>
                <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            {% else %}
        <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                </a>
            <div class="media-body">
                <div class="smallhead media-heading">
                <a href="{{ paper.url }}" class="off">
                    {{ paper.authors }}, 
                    {{ paper.title }}
                    <span class="journal">
                    {{ paper.journal }}
                    </span>
                    {% if paper.volume %}
                    {{ paper.volume }}
                    {% endif %}
                    {% if page.issue %}
                    ({{ paper.issue }})
                    {% endif %}
                    {% if paper.pages %}
                    :{{ paper.pages }} 
                    {% endif %}
                    ({{ paper.year }})
                </a>
                </div>
                <!-- <p class="note">{{ paper.shortref }}</p> -->
            </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="bigspacer"></div>

<!-- 2019 Papers -->
<div class="title"><hr />2019<hr /></div>
{% for paper in site.categories.papers %}
    {% if paper.year == "2019" %}
        <div class="col-md-12 paperbox">
            {% if paper.embargo %}
            <div class="media">
                <div class="media-body">
                <div class="smallhead media-heading">
                {{ paper.title }}
                </div>
                <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            {% else %}
        <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                </a>
            <div class="media-body">
                <div class="smallhead media-heading">
                <a href="{{ paper.url }}" class="off">
                    {{ paper.authors }}, 
                    {{ paper.title }}
                    <span class="journal">
                    {{ paper.journal }}
                    </span>
                    {% if paper.volume %}
                    {{ paper.volume }}
                    {% endif %}
                    {% if page.issue %}
                    ({{ paper.issue }})
                    {% endif %}
                    {% if paper.pages %}
                    :{{ paper.pages }} 
                    {% endif %}
                    ({{ paper.year }})
                </a>
                </div>
                <!-- <p class="note">{{ paper.shortref }}</p> -->
            </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="bigspacer"></div>

<!-- 2018 Papers -->
<div class="title"><hr />2018<hr /></div>
{% for paper in site.categories.papers %}
    {% if paper.year == "2018" %}
        <div class="col-md-12 paperbox">
            {% if paper.embargo %}
            <div class="media">
                <div class="media-body">
                <div class="smallhead media-heading">
                {{ paper.title }}
                </div>
                <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            {% else %}
        <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                </a>
            <div class="media-body">
                <div class="smallhead media-heading">
                <a href="{{ paper.url }}" class="off">
                    {{ paper.authors }}, 
                    {{ paper.title }}
                    <span class="journal">
                    {{ paper.journal }}
                    </span>
                    {% if paper.volume %}
                    {{ paper.volume }}
                    {% endif %}
                    {% if page.issue %}
                    ({{ paper.issue }})
                    {% endif %}
                    {% if paper.pages %}
                    :{{ paper.pages }} 
                    {% endif %}
                    ({{ paper.year }})
                </a>
                </div>
                <p class="note">{{ paper.shortref }}</p>
            </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="bigspacer"></div>

<!-- 2017 Papers -->
<div class="title"><hr />2017<hr /></div>
{% for paper in site.categories.papers %}
    {% if paper.year == "2017" %}
        <div class="col-md-12 paperbox">
            {% if paper.embargo %}
            <div class="media">
                <div class="media-body">
                <div class="smallhead media-heading">
                {{ paper.title }}
                </div>
                <p class="note">{{ paper.shortref }}</p>
                </div>
            </div>
            {% else %}
        <div class="media">
                <a class="pull-right" href="{{ paper.url }}">
                </a>
            <div class="media-body">
                <div class="smallhead media-heading">
                <a href="{{ paper.url }}" class="off">
                    {{ paper.authors }}, 
                    {{ paper.title }}
                    <span class="journal">
                    {{ paper.journal }}
                    </span>
                    {% if paper.volume %}
                    {{ paper.volume }}
                    {% endif %}
                    {% if page.issue %}
                    ({{ paper.issue }})
                    {% endif %}
                    {% if paper.pages %}
                    :{{ paper.pages }} 
                    {% endif %}
                    ({{ paper.year }})
                </a>
                </div>
                <p class="note">{{ paper.shortref }}</p>
            </div>
            </div>
            {% endif %}
        </div>
    {% endif %}
{% endfor %}

<div class="bigspacer"></div>
<div class="bigspacer"></div>
