---
layout: default
title: "Openings"
description: "New positions available with our Lab"
group: navigation
navorder: 7
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class="title">
    <hr />
    Positions
    <hr />
</div>

<p>We look for motivated students and interns in our group who are interested to work in the following
    areas:</p>
<ul>
    <li>Deep learning based multimedia systems</li>
    <li>Deep learning based natural language processing</li>
    <li>Deep learning based image processing</li>
    <li>Deep learning based healthcare solutions</li>
    <li>Multimodal social media analysis using deep learning techniques</li>
    <li>Event detection and recommendation on social media</li>
    <li>Multimodal multimedia search, retrieval, and recommendation, etc.</li>
</ul>

<p>Interested students can email their latest CV at <a href="mailto:midas@iiitd.ac.in?subject=Application for |INSERT POSITION YOU WANT TO APPLY FOR HERE|">midas@iiitd.ac.in</a>,
    subject line of email should follow the following format: Application for PhD/intern/RA/BTP etc.</p>

<p>We are also open to industry collaboration to solve interesting research problems which can facilitate
    society. If you are interested to collaborate with MIDAS then feel free to call us at +91-11-26907495 or
    email us at midas@iiitd.ac.in</p>

    <div class="title">
        <hr />
        Recent Openings
        <hr />
    </div>
{% for opening in site.categories.openings %}
<div class="bigspacer"></div>
<div class='row'>
    <!--   
  <div class='row'>
    <div class='col-md-12'>
    <div class="media">
      <a class="project-image" href="{{ project.url }}">
        <img class="media-object" src="{{ project.image }}">
      </a>
    </div>
  </div>
  -->

    <div class='row'>
        <div class="col-md-4 paperbox">
            <h2><a href="{{ opening.link }}">{{ opening.post }} : {{ opening.deadline }}</a></h2>  
        </div>
    </div>
</div>
<div class="bigspacer"></div>
{% endfor %}
<div class="bigspacer"></div>