---
layout: default
title: "Openings"
description: "New positions available with our Lab"
group: navigation
navorder: 7
---
{% include JB/setup %}
<div class="bigspacer"></div>


<div class="title">
    <hr />
    Recent Openings
    <hr />
</div>
{% for opening in site.categories.openings %}
<div class='row'>
<!--   
<div class='row'>
<div class='col-md-12'>
<div class="media">
  <a class="project-image" href="{{ project.url }}">
    <img class="media-object" src="{{ project.image }}">
  </a>
</div>
</div>
-->

<div class='row'>
    <div class="col-md-4 paperbox">
        <h2><a href="{{ opening.link }}">{{ opening.post }} </a></h2> - {{ opening.deadline }}
    </div>
</div>
</div>
<!-- <div class="bigspacer"></div> -->
{% endfor %}



<div class="title">
    <hr />
    How to Apply?
    <hr />
</div>

<p>We look for motivated students and interns in our group who are interested to work in the following
    areas:</p>
<ul>
    <li>Deep learning based multimedia systems</li>
    <li>Deep learning based natural language processing</li>
    <li>Deep learning based image processing</li>
    <li>Deep learning based healthcare solutions</li>
    <li>Multimodal social media analysis using deep learning techniques</li>
    <li>Event detection and recommendation on social media</li>
    <li>Multimodal multimedia search, retrieval, and recommendation, etc.</li>
</ul>

<p>Interested students should check our pages and apply accordingly on the information posted on our pages: <a href="https://www.facebook.com/midasIIITD/">Facebook</a>, <a href="https://twitter.com/midasiiitd">Twitter</a>, and <a href="https://linkedin.com/company/midasiiitd">LinkedIn</a>. <br>
    You may also fill the following <a href ="https://tinyurl.com/midas-aspirants">form</a> which we process at regular intervals.</p>

<p>We are also open to industry collaboration to solve interesting research problems which can facilitate
    society. If you are interested to collaborate with MIDAS then feel free to call us at +91-11-26907495 or
    email us at midas@iiitd.ac.in</p>

<div class="bigspacer"></div>