---
layout: default
title: "Openings"
description: "New positions available with our Lab"
group: navigation
navorder: 7
---
{% include JB/setup %}
<div class="bigspacer"></div>
<div class="title">
    <hr />
    Positions
    <hr />
</div>
{% for opening in site.categories.openings %}
<div class="bigspacer"></div>
<div class='row'>
    <!--   
  <div class='row'>
    <div class='col-md-12'>
    <div class="media">
      <a class="project-image" href="{{ project.url }}">
        <img class="media-object" src="{{ project.image }}">
      </a>
    </div>
  </div>
  -->

    <div class='row'>
        <div class="col-md-4 paperbox">
            <div class="head media-heading">{{ opening.title }}</div>
        </div>
        <div class='col-md-8' align="justify">
            {{ opening.content }}
        </div>
    </div>
</div>
<div class="bigspacer"></div>
{% endfor %}
<div class="bigspacer"></div>